{% extends 'login/base.html' %}
{% block title %}
    BIENVENIDO
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="message1" style="z-index: 1; position: relative">
            <article class="message is-danger is-inverted">
                 <div class="message-body">{{ message }}</div>
             </article></div>
         {% endfor %}
    {% endif %}

    <div class="container">
        <div class="columns is-mobile" >
            <div class="column is-half is-offset-one-quarter" style="margin-top: 200px; margin-bottom: 200px">
                <h3 class="title is-size-3">INICIAR SESION</h3>
                 <form  method="post">
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %}
                    {% for field in form %}
                        <div class="field" >
                            {{ field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="button is-primary is-fullwidth" style="margin-bottom: 5px">INICIAR SESION</button>
                    <a href="{% url 'password_reset' %}"><label>¿Has olvidado tu contraseña?</label></a>
                </form>

            </div>
        </div>
    </div>

{% endblock %}