{% extends 'login/base.html' %}
{% block title %}
    REGISTRO
{% endblock %}

{% block content %}
    <div class="container">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter" style="margin-top: 100px; text-align: center">
                <h3 class="title is-size-3" >REGISTRATE</h3>
                <h4 class="tittle is-size-5">INTRODUCE LOS SIGUIENTES DATOS</h4>
                <br/>
                 <form  method="post">
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %}
                        <label style="font-size: 12px">Un consejo: pon el Nombre de Usuario en minúsculas ya que
                            para iniciar sesión deberás introducirlo exactamente igual </label>
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label"></label>
                            {{ field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="button is-primary is-large is-fullwidth">REGISTRARME</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}