{% extends 'login/base.html' %}
{% block content %}
    {% if validlink %}

    <h4 class="title is-size-4" style="margin-top: 200px; text-align: center">
        Nueva contraseña
    </h4>

    <form method="post">
    {% csrf_token %}

    {{ form.new_password1.errors }}
    <label for="id_new_password1">Nueva Contraseña: &nbsp;</label>
    {{ form.new_password1 }}

    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirme Contraseña: &nbsp;</label>
    {{ form.new_password2 }}
    <input type="submit" value="Cambiar mi Contraseña">
    </form>

    {% else %}
    <h4 class="title is-size-4" style="margin-top: 200px; text-align: center">
        ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO
    </h4>

    {% endif %}

{% endblock %}