{% extends 'login/base.html' %}
{% block content %}
    <div class="container">
        <div class="columns is-mobile" >
            <div class="column is-half is-offset-one-quarter" style="margin-top: 200px; margin-bottom: 200px; text-align: center">
                <h3 class="title is-size-3">Recuperar contraseña</h3>
                <form method="post">
                {% csrf_token %}
                <label class= 'field' for="id_email"> Introduce tu email: &nbsp;</label>{{ form.email }}
                <input style="margin-top:5%; width: 80%" class="button is-primary is-rounded"
                              type="submit" value="Enviar"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}