{% extends 'mainpage/mainpage_base.html' %}
{% block content %}

<div class="container">

        <section class="intro">
            <div class="column">
                <form method="post">
                    {% csrf_token %}
                    <h1>¿Desea eliminar {{ serie.name }} {{ film.name }}?</h1>
                    <div style="text-align: center; margin-top: 2%">
                        <button style="margin-right: 1%" type="submit" class="button is-primary is-inverted is-rounded">CONFIRMAR</button>
                        <a class="button is-danger is-rounded is-inverted" href="{% url 'mainpage:inicio' %}">Volver a Inicio</a>
                    </div>
                </form>
             </div>
    </section>
</div>

{% endblock %}