{% extends 'mainpage/mainpage_base.html' %}
{% load static %}
{% block title %}
    Añade una Serie
{% endblock %}

{% block content %}
    <div class="container" style="background-color: #00d1b2; padding-bottom: 1px">
        <div class="columns is-mobile" style="margin-bottom: 10%; margin-top: 30px">
            <div class="column is-half is-offset-one-quarter" style="margin-top: 50px">
                <h3 class="title is-size-3" style="text-align: center; color: rgb(0, 0, 0)">¿HAS VISTO NUEVOS CAPÍTULOS? ANÓTALO AQUI DEBAJO</h3>
                 <form name="f1" id="f1" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %}
                        <div class="field">
                            <input type="text" name="chapter" class="input" placeholder="Capítulo" id="id_chapter">
                        </div>
                        <div class="field">
                            <input type="text" name="season" class="input" placeholder="Temporada" id="id_season">
                        </div>
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                     <br/>
                     <button type="submit" class="button is-large is-fullwidth">Confirmar Cambios</button>

                </form>
            </div>
        </div>
    </div>
<!--para que el footer se mantenga abajo sin afectar al contenido-->
<style>
.footer{
    bottom: 0;
    position: fixed;
    min-width: 100%;
}
</style>


{% endblock %}
