{% extends 'mainpage/mainpage_base.html' %}
{% block title %}
    Buscar Contenido
{% endblock %}
{% block content %}

    <div class="container">
        <section class="intro">
            <div class="column">
                <h3 class="title is-size-3" style="text-align: center; color: rgb(0, 0, 0)">
                    AQUÍ PODRÁS ENCONTRAR CONTENIDO PARA TU PERFIL</h3>
                <h4 class="tittle is-size-5" style="text-align: center; color: rgb(0, 0, 0) ">
                   Prueba a buscar el nombre de una pelicula o serie </h4>
                <form method="post">
                    {% csrf_token %}
                    <div class="field" >
                         <p class="control has-icons-left has-icons-right" style="width: 80%; left: 10%">
                             <label>
                                 <input  class="input" type="text" placeholder="Buscar" name="title" value="{{ keyword }}">
                             </label>
                             <span class="icon is-left">
                              <i class="fas fa-search"></i>
                             </span>
                         </p>
                    </div>
                </form>
            </div>
        </section>
    </div>
    {% if name %}
         <h4 class="tittle is-size-5" style="text-align: center; color: rgb(0, 0, 0) ">{{ name }}{{ keyword }}</h4>
    {% endif %}
    <div class="gallery">
      {% for result in fetch %}
          <div class="thumbnail" style="padding-top: 0 !important;">
              <p style="text-align: center;background-color: #00d1b2; padding-left: 0 !important;"><strong>{{ result.type.upper }}</strong></p>
              <br/>
              <a><img src="{{ result.image }}"  alt="Imagen no disponible" class="cards"/></a>
              <br/>
              <p class="thumbtittle">{{result.title}}</p>
              <br/>
              <a href="{% url 'mainpage:save' result.imdb %}" class="button is-primary">Añadir</a>
          </div>
      {% endfor %}
    </div>


{% endblock %}