{% extends 'mainpage/mainpage_base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
  <!-- Hero Section -->
        <section class="intro">
            <div class="column">
                <h1>Bienvenido {{ user }}</h1>
                <hr style="width: 80%; margin-left: 10% !important; "/>
                <div class="instrucciones">
                    <strong class="pasos">Te haré una breve introducción:</strong><br/>
                    <strong class="pasos">1. En el apartado "Perfil" puedes modificar tus datos</strong><br/>
                    <strong class="pasos">2. En el apatado "Buscar" podrás encontrar casi cualquier serie o pelicula para añadir a esta página</strong><br/>
                    <strong class="pasos">3. Si hay algo que no encuentras, prueba a añadirlo tú mismo desde "Añadir Contenido"</strong>
                </div>
            </div>
        </section>

    {% if messages %}
        {% for message in messages %}
            <br/>
            <div class="message1">
            <article class="message is-warning">
                 <div class="message-body">{{ message }}</div>
             </article></div>
         {% endfor %}
    {% endif %}

  <!-- Stats Gallery Section -->
    <div class="gallery">

    {% csrf_token %}
      {% for serie in series %}
          <div class="thumbnail" style="padding-top: 0 !important;">
           <p style="text-align: center;background-color: #00d1b2; padding-left: 0 !important;"><strong>SERIE</strong></p>
              <br/>
              <a><img src="{{ serie.image }}"  alt="Imagen no disponible" class="cards"/></a>
              <br/>
              <p class="thumbtittle">{{serie.name}}</p>

              <p><strong>Capítulo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ serie.chapter }}</p>
              <p><strong>Temporada:&nbsp;</strong>{{ serie.season }}</p>
              <br/>

              <a href="{% url 'mainpage:editar serie' serie.id %}" class="button is-primary">Editar</a>
              <a href="{% url 'mainpage:eliminar serie' serie.id %}" class="button is-danger">Eliminar</a>
              <a href="{% url 'mainpage:editar serie' serie.id %}" class="button is-warning"
                 style="margin-top:1px ;color: white; width: auto">Añadir nota</a>
          </div>
      {% endfor %}

        {% for peli in films %}
          <div class="thumbnail" style="padding-top: 0 !important;">
           <p style="text-align: center;background-color: #00d1b2; padding-left: 0 !important;"><strong>MOVIE</strong></p>
              <br/>
              <a><img src="{{ peli.image }}"  alt="Imagen no disponible" class="cards"/></a>
              <br/>
              <p class="thumbtittle">{{peli.name}}</p>

              <p style="width: auto"><strong>Minuto:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ peli.time }}</p>
              <br/>

              <a href="{% url 'mainpage:editar pelicula' peli.id %}" class="button is-primary">Editar</a>
              <a href="{% url 'mainpage:eliminar pelicula' peli.id %}" class="button is-danger">Eliminar</a>
              <a href="{% url 'mainpage:editar pelicula' peli.id %}" class="button is-warning"
                 style="margin-top:1px ;color: white; width: auto">Añadir nota</a>
          </div>
      {% endfor %}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    setTimeout(function() {
     $(".message1").fadeOut(1500);
      },5000);
});
</script>

{% endblock %}