{% extends 'mainpage/mainpage_base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
  <!-- Hero Section -->
        <section class="intro">
            <div class="column">
                <h1>Bienvenido {{ user }}</h1>
                <h3>A medida que vayas añadiendo contenido desde el menú de arriba, la irás viendo reflejada en esta página</h3>
            </div>
        </section>
  <!-- Stats Gallery Section -->
    <div class="gallery">

    {% csrf_token %}
      {% for serie in series %}
          <div class="thumbnail">
              <a><img src="{{ serie.image }}"  alt="Imagen no disponible" class="cards"/></a>
              <br/>
              <p class="thumbtittle">{{serie.name}}</p>

              <p><strong>Capítulo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ serie.chapter }}</p>
              <p><strong>Temporada:&nbsp;</strong>{{ serie.season }}</p>
              <br/>

              <a href="{% url 'mainpage:editar serie' serie.id %}" class="button is-primary">Editar</a>
              <a href="{% url 'mainpage:eliminar serie' serie.id %}" class="button is-danger">Eliminar</a>
              <a href="{% url 'mainpage:editar pelicula' serie.id %}" class="button is-warning"
                 style="margin-top:1px ;color: white; width: auto">Añadir nota</a>
          </div>
      {% endfor %}

        {% for peli in films %}
          <div class="thumbnail">
              <a><img src="{{ peli.image }}"  alt="Imagen no disponible" class="cards"/></a>
              <br/>
              <p class="thumbtittle">{{peli.name}}</p>

              <p style="width: auto"><strong>Minuto:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ peli.time }}</p>
              <br/>

              <a href="{% url 'mainpage:editar pelicula' peli.id %}" class="button is-primary">Editar</a>
              <a href="{% url 'mainpage:eliminar pelicula' peli.id %}" class="button is-danger">Eliminar</a>
              <a href="{% url 'mainpage:editar pelicula' peli.id %}" class="button is-warning"
                 style="margin-top:1px ;color: white; width: auto">Añadir nota</a>
          </div>
      {% endfor %}
  </div>
</div>
{% endblock %}