{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="{% static 'js/Navbar.js' %}"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    {% block aditional_js %}{% endblock %}
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <div class="navbar-burger burger" data-target="nav-data">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
        <div class="navbar-menu" id="nav-data">
            <a href={% url 'mainpage:inicio'%} class="navbar-item">Home</a>
            <a href={% url 'mainpage:perfil'%} class="navbar-item">Perfil</a>
            <a href={% url 'mainpage:añadir'%} class="navbar-item">Añadir Contenido</a>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a href="{% url 'login:logout' %}" class="button is-primary">
                                <span>DESCONECTAR</span>
                            </a>
                        </p>
                    </div>
                </div>
        </div>
    </div>
</nav>

{% block heading %}  {% endblock %}

{%  block content %}

{%  endblock %}

<footer class="footer" >
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>

</body>
</html>


