{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="{% static 'js/Navbar.js' %}"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% block aditional_ref %}{% endblock %}
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <a href="{% url 'mainpage:inicio'%}" style="margin: 5px !important;">
            <img alt="logo" src="/static/media/LogoAleAPrisa.png" height="60px" style="height: 60px !important">
        </a>
        <div class="navbar-burger burger" data-target="nav-data">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
        <div class="navbar-menu" id="nav-data">
            <a href='{% url 'mainpage:inicio'%}' class="navbar-item">Home</a>
            <a href='{% url 'mainpage:perfil'%}' class="navbar-item">Perfil</a>
            <a href='{% url 'mainpage:buscar'%}' class="navbar-item">Buscar</a>
            <a href='{% url 'mainpage:añadir'%}' class="navbar-item">Añadir Contenido</a>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a href="{% url 'login:logout' %}" class="button is-primary">
                                <span>DESCONECTAR</span>
                            </a>
                        </p>
                    </div>
                </div>
        </div>
    </div>
</nav>

{% block heading %}  {% endblock %}

{%  block content %}

{%  endblock %}

<footer class="footer">
  <div class="content has-text-centered">
  </div>
</footer>

</body>
</html>


