{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="{% static 'js/Navbar.js' %}"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% block aditional_ref %}{% endblock %}
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <a href="{% url 'mainpage:inicio'%}" style="margin: 5px !important;">
            <img alt="logo" src="/static/media/LogoAleAPrisa.png" style="height: 60px !important">
        </a>
        <div class="navbar-burger burger" data-target="nav-data">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
        <div class="navbar-menu" id="nav-data">
            <a href='{% url 'mainpage:inicio'%}' class="navbar-item"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
            <a href='{% url 'mainpage:perfil'%}' class="navbar-item"><i class="fas fa-user"></i>&nbsp;&nbsp;Perfil</a>
            <a href='{% url 'mainpage:buscar'%}' class="navbar-item"><i class="fas fa-search"></i>&nbsp;&nbsp;Buscar</a>
            <a href='{% url 'mainpage:añadir'%}' class="navbar-item"><i class="fas fa-plus"></i>&nbsp;&nbsp;Añadir Contenido</a>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a href="{% url 'login:logout' %}" class="button is-primary">
                                <span>DESCONECTAR</span>
                            </a>
                        </p>
                    </div>
                </div>
        </div>
    </div>
</nav>

{% block heading %}  {% endblock %}

{%  block content %}

{%  endblock %}

<footer class="footer">
    <div class="columns" style="width: 90%; margin:0 5% 0">
      <div class="column">
            <img src="/static/media/LogoAleAPrisa.png" alt="LOGO" style="height: 150px !important">
            <img alt="logo" src="/static/media/playdino.png" style="width: 224px !important">
          <p></p>
      </div>
      <div class="column">
          <h6 class="is-size-6"><strong>DOCUMENTACIÓN</strong></h6>
          <p><a href="https://bulma.io" target="_blank"><i class="fas fa-file-code"></i>&nbsp;Bulma</a></p>
          <p><a href="https://github.com" target="_blank"><i class="fab fa-github"></i>&nbsp;Github</a></p>
          <p><a href="https://djangoproject.com" target="_blank"><i class="fab fa-python"></i>&nbsp;Django</a></p>
          <p><a href="https://fontawesome.com" target="_blank"><i class="fas fa-flag"></i>&nbsp;Font Awesome 5</a></p>
          <p><a href="" target="_blank"><i class="fas fa-file-pdf"></i>&nbsp;Manual de usuario</a></p>
      </div>
      <div class="column">
          <h6 class="is-size-6"><strong>¿DÓNDE PUEDO VER MIS SERIES?</strong></h6>
          <div class="columns">
              <div class="column">
                  <p><a href="https://hbo.com" target="_blank" style="color: #0008a3">&nbsp;HBO</a></p>
                  <p><a href="https://primevideo.com" target="_blank" style="color:#003ca3">&nbsp;Prime Video</a></p>
                  <p><a href="https://disneyplus.com" target="_blank" style="color:#006aa3">&nbsp;Disney+</a></p>
                  <p><a href="https://ver.movistarplus.es/" target="_blank" style="color: #87d9fa">&nbsp;Movistar+</a></p>
              </div>
              <div class="column">
                  <p><a href="https://rakuten.es" target="_blank" style="color: #8a0000">&nbsp;Rakuten TV</a></p>
                  <p><a href="https://netflix.com" target="_blank" style="color: red">&nbsp;Netflix</a>
                  <p><a href="https://tv.apple.com" target="_blank" style="color:orangered">&nbsp;Apple TV</a></p>
                  <p><a href="https://crunchyroll.com" target="_blank" style="color: orange">&nbsp;Crunchyroll</a></p>
              </div>
          </div>
      </div>
    </div>
</footer>

</body>
</html>


