{% extends 'mainpage/mainpage_base.html' %}
{% load static %}
{% block title %}
    Perfil de Usuario
{% endblock %}

{% block content %}
    <section class="intro">
        {% if messages %}
            {% for message in messages %}
            <div class="message1">
                <article class="message is-primary is-inverted">
                    <div class="message-body">{{ message }}</div>
                </article></div>
            {% endfor %}
        {% endif %}

        <div class="column">
            <h1>{{ user.username.upper }}</h1>
            <h3>ESTE ES TU PERFIL DE USUARIO, USANDO EL BOTÓN DE ABAJO PUEDES MODIFICAR LOS DATOS</h3>
        </div>

        <!--imagen del usuario-->
        <div class="columns is-mobile" style="margin: 1% 20% 0;">
            {% if image %}
            <figure class="image">
                <img class="is-rounded" style="min-width: 226px; max-width: 230px; min-height: 226px; max-height: 230px "
                     src="/{{ image.image }}" alt="profile image">
            </figure>
            {% else %}
            <figure class="image">
                <img class="" src="/static/media/default.png" alt="profile image">
            </figure>
            {% endif %}

        <!--formulario para cambiar datos del usuario-->
         <form name="f1" id="f1" method="post" enctype="multipart/form-data" style="margin-left: 5%; width: 100%">
             {% csrf_token %}
             <div class="field"><label for="id_first_name">Nombre</label>
                <input type="text" name="first_name" class="input" placeholder="Nombre" id="id_first_name"
                       disabled value="{{user.first_name}}">
            </div>
            <div class="field"><label for="id_last_name">Apellidos</label>
                <input type="text" name="last_name" class="input" placeholder="Apellidos" id="id_last_name"
                       disabled value="{{user.last_name}}">
            </div>
            <div class="field"><label for="id_email">Correo Electrónico</label>
                <input type="text" name="email" class="input" placeholder="Correo Electrónico"
                       disabled id="id_email" value="{{user.email}}">
            </div>

            <br/>
             <div style="text-align: right">
                 <a id="cancel" class="button is-danger is-inverted is-rounded" href="{% url 'mainpage:perfil' %}"
                 style="display:none">
                     Cancelar
                 </a>
                 <button id='save' class="button is-primary is-inverted is-rounded" type="submit" style="display: none">
                     Guardar Cambios
                 </button>
            </div>
        </form>
        </div>
        <div style="text-align: right; margin-right: 20%">
            <button id='editor' class="button is-primary is-inverted is-rounded" onclick="toggle()">EDITAR</button>
        </div>

        <div style="text-align: center; margin-top: 2%">
            <button class="button is-warning is-light" onclick="modalimageTrigger()"
                    style="width: 30%; min-width: 220px">Cambiar Foto de Perfil</button>

            <button class="button is-warning is-light" onclick="modalTrigger()"
                    style="margin: 0 2% 0; width: 30%; min-width: 220px">Cambiar Nombre de Usuario</button>

            <button class="button is-warning is-light" onclick="modalpasswordTrigger()"
                    style="width: 30%; min-width: 220px">Cambiar Contraseña</button>
        </div>

</section>

<!--Bulma modal for username-->
<div class="modal" id="modal">
  <div class="modal-background" onclick="modalTrigger()"></div>
  <div class="modal-content">
      <div class="modal-content">
            <div class="modal-card">
                <header class="modal-card-head" style="background-color: #00d1b2">
                    <img alt="logo" src="/static/media/LogoAleAPrisa.png" height="60px" style="height: 60px !important">
                    <h1 class="modal-card-title" style="padding-left: 2%"><strong style="color: white">
                        Cambiar Nombre de Usuario</strong>
                    </h1>
                    <button id="close_comment_modal" class="delete" aria-label="close"
                            onclick="modalTrigger()"></button>
                </header>

                <form method="post" action="{% url 'mainpage:cambiar user' %}">
                    {% csrf_token %}
                    <section class="modal-card-body">
                        <div class="columns is-centered">
                            <div class="column has-text-centered">
                                <div class="field">
                                    <label for="id_username" style=" font-weight: bold; color: grey">
                                        NOMBRE DE USUARIO ACTUAL: {{user.username.upper}}
                                    </label>
                                    <input type="text" name="username" class="input" placeholder="Nombre de Usuario"
                                           id="id_username" value="{{user.username}}" style="margin-top: 2%">
                                </div>
                            </div>
                        </div>

                    </section>
                    <footer class="modal-card-foot" style="background-color: #00d1b2">
                        <button type="submit" class="button is-primary is-rounded is-inverted">Guardar</button>
                        <button class="button is-danger is-rounded is-inverted" type="button" onclick="modalTrigger()">
                            Cancelar
                        </button>
                    </footer>
                </form>
            </div>
      </div>
  </div>
</div>


<!--Bulma modal for password-->
<div class="modal" id="modalpassword">
  <div class="modal-background" onclick="modalpasswordTrigger()"></div>
  <div class="modal-content">
      <div class="modal-content">
            <div class="modal-card">
                <header class="modal-card-head" style="background-color: #00d1b2">
                    <img alt="logo" src="/static/media/LogoAleAPrisa.png" height="60px" style="height: 60px !important">
                    <h1 class="modal-card-title" style="padding-left: 2%"><strong style="color: white">
                        Cambiar Contraseña</strong>
                    </h1>
                    <button id="close_modal" class="delete" aria-label="close"
                            onclick="modalpasswordTrigger()"></button>
                </header>

                <form method="post" action="{% url 'mainpage:update password' %}">
                    {% csrf_token %}
                    <section class="modal-card-body">
                        <p style="color: grey">La nueva contraseña debe tener al menos 8 carácteres y un número</p>
                        <div class="columns is-centered">
                            <div class="column has-text-centered">
                                <div class="field">
                                    <label for="id_old_password" style=" font-weight: bold; color: grey">
                                    </label>
                                    <input type="password" name="old_password" class="input" placeholder="Contraseña Actual"
                                           id="id_old_password"  style="margin-top: 2%">

                                    <label for="id_new_password1" style=" font-weight: bold; color: grey">
                                    </label>
                                    <input type="password" name="new_password1" class="input" placeholder="Nueva Contraseña"
                                           id="id_new_password1"  style="margin-top: 2%">

                                    <label for="id_new_password2" style=" font-weight: bold; color: grey">
                                    </label>
                                    <input type="password" name="new_password2" class="input" placeholder="Confirmar Nueva Contraseña"
                                           id="id_new_password2"  style="margin-top: 2%">
                                </div>
                            </div>
                        </div>

                    </section>
                    <footer class="modal-card-foot" style="background-color: #00d1b2">
                        <button type="submit" class="button is-primary is-rounded is-inverted">Guardar</button>
                        <button class="button is-danger is-rounded is-inverted" type="button" onclick="modalpasswordTrigger()">
                            Cancelar
                        </button>
                    </footer>
                </form>
            </div>
      </div>
  </div>
</div>

<!--Bulma modal for image-->
<div class="modal" id="modalimage">
  <div class="modal-background" onclick="modalimageTrigger()"></div>
  <div class="modal-content">
      <div class="modal-content">
            <div class="modal-card">
                <header class="modal-card-head" style="background-color: #00d1b2">
                    <img alt="logo" src="/static/media/LogoAleAPrisa.png" height="60px" style="height: 60px !important">
                    <h1 class="modal-card-title" style="padding-left: 2%"><strong style="color: white">
                        Cambiar Foto de Perfil</strong>
                    </h1>
                    <button id="close_image_modal" class="delete" aria-label="close"
                            onclick="modalimageTrigger()"></button>
                </header>

                <form method="post" action="{% url 'mainpage:set image' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <section class="modal-card-body">
                        <div class="columns is-centered">
                            <div class="column has-text-centered">
                                <div class="field">
                                    <label  for="id_image"></label>
                                    <input class="file-label" type="file" name="image" id="id_image" style="margin-top: 2%">
                                </div>
                            </div>
                        </div>

                    </section>
                    <footer class="modal-card-foot" style="background-color: #00d1b2">
                        <button type="submit" class="button is-primary is-rounded is-inverted">Guardar</button>
                        <button class="button is-danger is-rounded is-inverted" type="button" onclick="modalimageTrigger()">
                            Cancelar
                        </button>
                    </footer>
                </form>
            </div>
      </div>
  </div>
</div>

<script src="{% static 'js/perfil.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    setTimeout(function() {
     $(".message1").fadeOut(1500);
      },4000);
});
</script>

{% endblock %}