{% extends 'mainpage/mainpage_base.html' %}
{% load static %}
{% block title %}
    Perfil de Usuario
{% endblock %}

{% block content %}
    <section class="intro">
        {% if messages %}
            {% for message in messages %}
            <div class="message1">
                <article class="message is-primary is-inverted">
                    <div class="message-body">{{ message }}</div>
                </article></div>
            {% endfor %}
        {% endif %}

        <div class="column">
            <h1>{{ user.username.upper }}</h1>
            <h3>ESTE ES TU PERFIL DE USUARIO, USANDO EL BOTÓN DE ABAJO PUEDES MODIFICAR LOS DATOS</h3>
        </div>

        <!--imagen del usuario-->
        <div class="columns is-mobile" style="margin: 1% 20% 0;">
            {% if image %}
            <figure class="image">
                <img class="" src="{{ image.image }}" alt="profile image">
            </figure>
            {% else %}
            <figure class="image">
                <img class="" src="/static/media/default.png" alt="profile image">
            </figure>
            {% endif %}

        <!--formulario para cambiar datos del usuario-->
         <form name="f1" id="f1" method="post" enctype="multipart/form-data" style="margin-left: 5%; width: 100%">
             {% csrf_token %}
             <div class="field"><label for="id_first_name">Nombre</label>
                <input type="text" name="first_name" class="input" placeholder="Nombre" id="id_first_name"
                       disabled value="{{user.first_name}}">
            </div>
            <div class="field"><label for="id_last_name">Apellidos</label>
                <input type="text" name="last_name" class="input" placeholder="Apellidos" id="id_last_name"
                       disabled value="{{user.last_name}}">
            </div>
            <div class="field"><label for="id_email">Correo Electrónico</label>
                <input type="text" name="email" class="input" placeholder="Correo Electrónico"
                       disabled id="id_email" value="{{user.email}}">
            </div>

            <br/>
             <div style="text-align: right">
                 <a id="cancel" class="button is-danger is-inverted is-rounded" href="{% url 'mainpage:perfil' %}"
                 style="display:none">
                     Cancelar
                 </a>
                 <button id='save' class="button is-primary is-inverted is-rounded" type="submit" style="display: none">
                     Guardar Cambios
                 </button>
            </div>
        </form>
        </div>
        <div style="text-align: right; margin-right: 20%">
            <button id='editor' class="button is-primary is-inverted is-rounded" onclick="toggle()">EDITAR</button>
        </div>

        <div style="text-align: center; margin-top: 2%">
            <button class="button is-warning is-light" style="margin-right: 2%; width: 40%">Cambiar Nombre de Usuario</button>
            <button class="button is-warning is-light" style="width: 40%">Cambiar Contraseña</button>
        </div>

</section>


<script>
function toggle() {
    let field = document.getElementById("id_first_name")
    if (field.disabled === true){
        field.disabled = false;
        document.getElementById("id_last_name").disabled = false;
        document.getElementById("id_email").disabled = false;
        document.getElementById("cancel").style.display = 'inline-block';
        document.getElementById("save").style.display = 'inline-block';
        document.getElementById("editor").style.display = 'none';
    }
    else {
        field.disabled = true;
        document.getElementById("id_last_name").disabled = true;
        document.getElementById("id_email").disabled = true;

    }


}
</script>


<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    setTimeout(function() {
     $(".message1").fadeOut(1500);
      },4000);
});
</script>

{% endblock %}