{% extends 'mainpage/mainpage_base.html' %}
{% load static %}
{% block title %}
    Añade una Serie
{% endblock %}

{% block content %}
    <div class="container" style="background-color: #00d1b2; padding-bottom: 1px">
        <div class="columns is-mobile" style="margin-bottom: 10%; margin-top: 30px">
            <div class="column is-half is-offset-one-quarter" style="margin-top: 50px">
                <h3 class="title is-size-3" style="text-align: center; color: rgb(0, 0, 0)">NUEVA SERIE</h3>
                <h4 class="tittle is-size-5" style="text-align: center; color: rgb(0, 0, 0) ">RELLENA LOS SIGUIENTES CAMPOS PARA AÑADIR UNA SERIE</h4>
                 <form  method="post" enctype="multipart/form-data" action="{% url 'mainpage:series' %}">
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %}
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label"></label>
                            {{ field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}

                        </div>
                    {% endfor %}
                     <p style="color: white; text-align: center"><strong>¿Quieres añadir una portada?  haz click en "seleccionar archivo"</strong></p>
                        <br/>
                     <button type="submit" class="button is-large is-fullwidth">AÑADIR</button>

                </form>
            </div>
        </div>
    </div>

{% endblock %}